<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>UserVerification</servlet-name>
        <servlet-class>com.bitcointrade.servlet.ajax.UserVerificationServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserVerification</servlet-name>
        <url-pattern>/UserVerificationServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddNxtServlet</servlet-name>
        <servlet-class>com.bitcointrade.servlet.nonajax.AddNxtServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>AddBtcServlet</servlet-name>
        <servlet-class>com.bitcointrade.servlet.nonajax.AddBtcServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>RegisterUserServlet</servlet-name>
        <servlet-class>com.bitcointrade.servlet.nonajax.RegisterUserServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ExchangeBtcServlet</servlet-name>
        <servlet-class>com.bitcointrade.servlet.nonajax.ExchangeBtcServlet</servlet-class>
        <load-on-startup>4</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ExchangeNxtServlet</servlet-name>
        <servlet-class>com.bitcointrade.servlet.nonajax.ExchangeNxtServlet</servlet-class>
        <load-on-startup>5</load-on-startup>
    </servlet>
     <servlet>
        <servlet-name>LogInServlet</servlet-name>
        <servlet-class>com.bitcointrade.servlet.nonajax.LogInServlet</servlet-class>
        <load-on-startup>6</load-on-startup>
    </servlet>
     <servlet>
        <servlet-name>WithdrawNxtServlet</servlet-name>
        <servlet-class>com.bitcointrade.servlet.nonajax.WithdrawNxtServlet</servlet-class>
        <load-on-startup>7</load-on-startup>
    </servlet>
     <servlet>
        <servlet-name>WithdrawBTCServlet</servlet-name>
        <servlet-class>com.bitcointrade.servlet.nonajax.WithdrawBTCServlet</servlet-class>
        <load-on-startup>8</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddBtcServlet</servlet-name>
        <url-pattern>/AddBtcServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNxtServlet</servlet-name>
        <url-pattern>/AddNxtServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterUserServlet</servlet-name>
        <url-pattern>/RegisterUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogInServlet</servlet-name>
        <url-pattern>/LogInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExchangeBtcServlet</servlet-name>
        <url-pattern>/ExchangeBtcServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExchangeNxtServlet</servlet-name>
        <url-pattern>/ExchangeNxtServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WithdrawNxtServlet</servlet-name>
        <url-pattern>/WithdrawNxtServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WithdrawBTCServlet</servlet-name>
        <url-pattern>/WithdrawBTCServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoadWalletServlet</servlet-name>
        <servlet-class>com.bitcointrade.servlet.ajax.LoadWalletServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadWalletServlet</servlet-name>
        <url-pattern>/LoadWalletServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserLogoutServlet</servlet-name>
        <servlet-class>com.bitcointrade.servlet.ajax.UserLogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLogoutServlet</servlet-name>
        <url-pattern>/UserLogoutServlet</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>
</web-app>
