<?xml version="1.0" encoding="UTF-8"?>

<!--
        /**
        * Created with IntelliJ IDEA.
        * User: Augusto Millares
        * Date: 1/03/14
        * Time: 3:38 PM
        */
-->

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- Log4j Configuration file to log the messages into different logfiles -->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="DEBUG" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="log/bitnxtxchange.log"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="2MB"/>
        <param name="MaxBackupIndex" value="5"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%n%-5p  %d  %c %x - %m%n"/>
            <!-- <param name="ConversionPattern" value="%-4r %d [%t] %p %c %x - %m%n"/> -->
            <!-- <param name="ConversionPattern" value="%-4r [%t] %-5p %c %x - %m%n"/> -->
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="INFO"/>
            <param name="LevelMax" value="INFO"/>
        </filter>
    </appender>
    
    <appender name="INFO" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="log/bitnxtxchange.log"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="2MB"/>
        <param name="MaxBackupIndex" value="5"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%n%-5p  %d  %c %x - %m%n"/>
            <!-- <param name="ConversionPattern" value="%-4r %d [%t] %p %c %x - %m%n"/> -->
            <!-- <param name="ConversionPattern" value="%-4r [%t] %-5p %c %x - %m%n"/> -->
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="INFO"/>
            <param name="LevelMax" value="INFO"/>
        </filter>
    </appender>
    
    <appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-4r [%t] %-5p %c %x - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="INFO"/>
            <param name="LevelMax" value="INFO"/>
        </filter>
    </appender>
    <appender name="ERROR" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="log/bitnxtxchange.log"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="2MB"/>
        <param name="MaxBackupIndex" value="5"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-4r %d [%t] %p %c %x - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="ERROR"/>
            <param name="LevelMax" value="ERROR"/>
        </filter>
    </appender>
    
    <appender name="default.file" class="org.apache.log4j.FileAppender">
        <param name="file" value="/log/bitnxtxchange.log" />
        <param name="append" value="false" />
        <param name="threshold" value="debug" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %-5p [%c{1}] - %m%n" />
        </layout>
    </appender>
    <logger name="org.hibernate">
  		<level value="error"/> 
	</logger>
    <logger name="org.springframework">
        <level value="error"/>
    </logger>
    <!--
    <logger name="org.springframework.jdbc.core.JdbcTemplate">
      <level value="debug"/>
  </logger>
  -->
    <root>
        <priority value="debug"/>
        <appender-ref ref="DEBUG"/>
        <appender-ref ref="consoleAppender"/>
        <appender-ref ref="ERROR"/>
        <appender-ref ref="INFO"/>
        <!--<appender-ref ref="FATAL"/>-->
    </root>
</log4j:configuration>
